<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fa fa-github" style="color: darkgrey"></i></a>
    <a href="#"><i class="fa fa-instagram" style="color: darkgrey"></i></a>
    <a href="#"><i class="fa fa-facebook" style="color: darkgrey"></i></a>
    <a href="#"><i class="fa fa-twitter" style="color: darkgrey"></i></a>
    <a href="#"><i class="fa fa-linkedin" style="color: darkgrey"></i></a>
  </div>
  <div class="footer-copyright">
    This footer is made with <i class="fa fa-heart" style="color: red" ></i> at Le Wagon
  </div>
</div>
